@charset "utf-8";
/* CSS Document */

body {color:#333333;
font-family:Tahoma;
font-size:11pt;}

a {color:#FF0000;
text-decoration:none;}

a:hover {color:#000;
text-decoration:underline;}

h1 {color:#000000;
font-size:15pt;
margin:0;
padding:0;
letter-spacing:3px;}

h2 {color:#B00;
font-size:12pt;
letter-spacing:1px;
font-variant:small-caps;}

table, td, th, tr {border-collapse:collapse;}

table {margin-top:10px;
margin-bottom:10px;
max-width:700px;}

th {letter-spacing:3px;
font-weight:bold;
font-variant:small-caps;
min-width:100px;
padding:5px;}

th.no, td.no {min-width:20px;
width:20px;
text-align:center;}

td {vertical-align:top;
padding:3px;}

td.maintenance {text-align:center;}

td.maintenance a {font-variant:small-caps;
letter-spacing:1px;
color:#CC0000;}

td.maintenance a:hover {color:#0033CC;}

.txt {width:200px;}

.btn {width:90px;}